.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 50px;
  background-image: url(../../images/mobile/back-wave-top.png);
  background-size: 100% 150px;
  background-repeat: no-repeat;
}

.label {
  display: flex;

  text-align: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #390e84;
}

.labelPhoto {
  border-radius: 50%;
}

.label:first-child {
  color: white;
}

.inputText {
  margin-top: 25px;
  width: 60px;
  color: #c4c4c4;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #c4c4c4;
}

.inputText:last-child {
  width: 110px;
  margin: 0 auto;
  margin-top: 25px;
}

.button {
  width: 153px;
  height: 36px;
  margin: 0 auto;
  border-radius: 7px;
  border: 1px solid #bfb1d7;
  font-weight: 700;
  background-color: #f8f7fb;
  color: #7355a8;
}

.footer {
  height: 65px;
  background-image: url(../../images/mobile/bottom-lines.png);
  background-size: 100% 65px;
  background-repeat: no-repeat;
}

.btnBack {
  display: none;
}

@media screen and (min-width: 768px) {
  .form {
    padding-top: 100px;
    background-image: url(../../images/tablet/back-widewave-top.png);
    background-size: 100% 255px;
  }

  .label {
    margin-bottom: 70px;
  }

  .footer {
    height: 185px;
    background-image: url(../../images/tablet/bottom-lines.png);
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .btnBack {
    display: block;
    position: absolute;
    left: 80px;
    top: 90px;
    background-color: transparent;
    color: white;
    font-size: 24px;
    font-weight: 700;
    border: 0;
  }

  .form {
    padding-top: 200px;
    background-image: url(../../images/desktop/topwaves-desk.png);
    background-size: cover;
    padding-bottom: 50px;
  }
  .footer {
    display: none;
  }
}
