.section {
  display: flex;
  padding-top: 70px;
  padding-bottom: 210px;
  background-image: url("../../images/mobile/back-wave-bottom.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 145px;
}

.logo {
  width: 300px;
  margin-bottom: 110px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  width: 208px;
  margin: 0 auto;
}

.button:first-child {
  margin-bottom: 20px;
}

.button {
  height: 35px;
  border-radius: 20px;
  border: 1px solid #bfb1d7;
  color: #390093;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 335px;
    background-image: url("../../images/tablet/back-widewave-bottom.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 345px;
  }

  .logo {
    margin-bottom: 100px;
    width: 650px;
  }

  .motivation {
    width: 360px;
    margin: 0 auto;
    margin-bottom: 120px;
    text-align: center;
    margin-bottom: 125px;
    color: #390e84;
    font-size: 27px;
  }

  .buttonsWrapper {
    width: 365px;
  }

  .button {
    height: 65px;
    font-size: 26px;
  }

  .button:first-child {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-bottom: 130px;
    margin-left: 200px;
    width: 700px;
  }

  .motivation {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 120px;
    text-align: center;
    margin-bottom: 125px;
    color: #390e84;
    font-size: 30px;
  }

  .section {
    padding-top: 50px;
    padding-bottom: 120px;
    background-image: url("../../images/desktop/bottomwaves-desk.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
}
