/* your css code */
.footer {
  height: 145px;
  background-image: url("../../../images/mobile/back-wave-bottom.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 145px;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 345px;
    background-image: url("../../../images/tablet/back-widewave-bottom.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 345px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    background-image: url("../../../images/desktop/bottomwaves-desk.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
}
